.messanging {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 3%;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  z-index: 200;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  opacity: 100%;

  &::before {
    content: "";
    position: absolute;
    background-color: rgb(46, 46, 46);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    width: 4rem;
    height: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(46, 46, 46);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    width: 4rem;
    height: 3px;
  }

  &__checkbox {
    display: none;
  }

  &__cover {
    position: absolute;
    border: none;
    background-color: #275dc7;
    top: -2px;
    left: -2px;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__mesaj {
    width: 5rem;
    height: 5rem;
    fill: white;
  }

  &__phone {
    fill: #004d73;
    position: absolute;
  }

  &__messenger {
    position: absolute;
    z-index: 3;
  }

  &__whatsapp {
    position: absolute;
  }

  &__svg {
    width: 4rem;
    height: 4rem;
  }

  &__checkbox:checked + &__label {
    opacity: 0;
  }

  &__checkbox:checked ~ &__phone {
    transform: translateY(-30rem);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  &__checkbox:checked ~ &__messenger {
    transform: translateY(-10rem);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  &__checkbox:checked ~ &__whatsapp {
    transform: translateY(-20rem);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  &__checkbox:checked ~ &__viber {
    transform: translateY(-40rem);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.shaper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0, 0.76, 0.29, 0.78);
}

.fillgreen {
  fill: rgb(0, 216, 36);
}
