.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: #f2f2f2;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: background-color 1s;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0  5rem;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 48em) {
      display: none;
    }
  }

  // &__logo {

  // }

  &__list {
    display: flex;
    list-style: none;
    font-size: 2rem;
    font-family: $futuraMd;
    height: 100%;
  }

  // &__socialbtns {
  //   // margin-right: 10rem;
  // }

  &__lsitem {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
    position: relative;
    height: 100%;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 50%;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #b53b45;
      -webkit-box-shadow: inset 0 -1px 0 0 #b53b45;
      -moz-box-shadow: inset 0 -1px 0 0 #b53b45;
      box-shadow: inset 0 -1px 0 0 #b53b45;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &:hover {
      color: #b53b45;
    }

    &:hover::after {
      bottom: 30%;
      opacity: 100%;
    }
  }

  &__roundbtn {
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #000;
    border-radius: 50%;
  }

  &__svg {
    fill: white;
    width: 2rem;
    height: 2rem;
  }
}

.faded {
  background-color: rgba(255, 255, 255, 0.4);
}



.logo__atag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.logo__svg {
  fill: #111;
  width: 20rem;
}
