.how{
  height: 100vh;
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;

 &__h1{
   padding-top: 2rem;
   font-size: 2rem;
   h1{
    font-family: Arial, sans-serif;
   }

   p{
     text-align: center;
   }
 }


 &__description{
    color: #7F7F8D;
 
      
 }

 &__vidcont{
width: 80vw;
  height: 70vh;
  margin-top: 3rem;
 
 }

 &__vid{
width: 100%;
height: 100%;

 }
 &__video{
   width: 100%;
   height: 100%;
 }
}