.messanging{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 6%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  opacity: 100%;

  &__checkbox{
    display: none; 
  }
  
  &__cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 300;
  }


  &__checkbox:checked + &__label{
    opacity: 0; 
  }

  &__checkbox:checked ~  &__phone {
   transform: translateY(-30rem);
     
  }

  &__checkbox:checked ~  &__messenger{
    transform: translateY(-10rem);
  }

  &__checkbox:checked ~   &__whatsapp{
    transform: translateY(-20rem);
  }


  &__phone{
    position: absolute;
  
    
  }

  &__messenger{
    position: absolute;
   z-index: 3;
 
  }
  &__whatsapp{
    position: absolute;
  
  }

  &__svg{
    width: 5em;
    height: 5rem;
  }
}

.shaper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.fillgreen{
  fill: rgb(0, 216, 36);
}

