.messanging{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 6%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  opacity: 100%;

  &__checkbox{
    // display: none;
  }

  &__checkbox:checked + &__label{
    display: none;

  }




  &__cover{
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(23, 172, 3);
    z-index: 300;
  }

  &__phone{
    position: absolute;
  }
  &__messenger{
    position: absolute;
  
  }
  &__whatsapp{
    position: absolute;
    
  }

  &__svg{
    width: 5em;
    height: 5rem;
  }
}

.shaper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fillgreen{
  fill: rgb(0, 216, 36);
}

.hide{
  opacity: 0;
  transform: scaleY(0);
  transition: opacity .3s;
}

.phone_tr{
  transform: translateY(-9.5em);
  transition: transform .2s;
}

.messanger_tr{
  transform: translateY(-6rem)  ; 
  transition: transform .2s;
}

.whatsapp_tr{
  transform: translateY(-28rem)  ; 
  transition: transform .2s;
}