.messanging{
  position: fixed;
  bottom: 10%;
  right: 6%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

  &__cover{
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    background-color: rgb(23, 172, 3);
    z-index: 300;
  }

    .shaper{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

  &__phone{
    transform: translateY(0);
    transition: transform 1s;
  }
  &__messenger{
  
  }
  &__whatsapp{
    
  }

  &__svg{
    width: 5em;
    height: 5rem;
  }
}

.fillgreen{
  fill: rgb(0, 216, 36);
}

.hide{
  visibility: hidden;
}

.translate50{
  transform: translateY(-20rem) !important;
}