.steps {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 48em) {
    flex-direction: column;
  }

  &__left {
    flex: 1 1 15vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media screen and (max-width: 48em) {
      flex: 1;
    }
  }

  &__wrapper {
    margin: 4rem 1rem;

    @media screen and (max-width: 48em) {
      margin: 2rem 1rem;
    }

    display: flex;

    h4 {
      margin-bottom: 2rem;
    }
  }

  &__svgwrap {
    margin: 2rem 1rem;
  }

  &__svg {
    width: 7rem;
    height: 7rem;
  }

  &__imgcon {
    flex: 1 0 20vw;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__right {
    flex: 1 1 15vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media screen and (max-width: 48em) {
      flex: 1;
    }
  }
}

.reverse {
  @media screen and (max-width: 52em) {
    flex-direction: row-reverse;
  }
}
