.trainer {
  background-color: #002f8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;

  a {
    text-decoration: none;
    color: black;
  }

  &__container {
    width: 60vw;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;

    @media screen and (max-width: 48em) {
      width: 90vw;
    }
  }

  &__imgcontainer {
    width: 100%;
    height: 70vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__description {
    padding: 3rem;
  }
}
