@font-face {
  font-family: futura;
  src: url("../assets/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: futuralt;
  src: url("../assets/FuturaPTLight.otf") format("opentype");
}


@font-face {
  font-family: futurabd;
  src: url("../assets/FuturaPTBold.otf") format("opentype");
}

$futuraMd:futura;
$futuraLt:futuralt;
$futuraBd:futurabd;