@font-face {
  font-family: futura;
  src: url("../assets/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: futuralt;
  src: url("../assets/FuturaPTLight.otf") format("opentype");
}

@font-face {
  font-family: futurabd;
  src: url("../assets/FuturaPTBold.otf") format("opentype");
}

$futuraMd:futura, arial, sans-serif;
$futuraLt:futuralt, arial, sans-serif;
$futuraBd:futurabd, arial, sans-serif;
$footerbg:#111;

.white-color {
  color: white;
}

.hcenter {
  margin: 5rem 0;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}
